*.a
*.o
.\#*
executables/*
lib/*
./
*~
Makefile
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
config.h
config.h.in
fltkhs.buildinfo
autoscan.log
object_files/*
c-examples/Makefile
c-src/Makefile
dist/*
/CMakeCache.txt
/CMakeFiles/
/c-lib/
/c-src/CMakeFiles/
/c-src/cmake_install.cmake
/CMakeFiles/
/CMakeCache.txt
/c-src/CMakeFiles/
/c-src/cmake_install.cmake
/c-src/libfltkdyn.so
/cmake_install.cmake
/src/Fluid/Parser
/src/Fluid/Parser.hi
/src/Fluid/Types.hi
/TAGS
/.stack-work/*
